.ant-picker,
.ant-input-number,
.ant-upload,
.ant-form {
  width: 100% !important;
}

.form-layout {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: min-content;
}

.ant-form-item {
  margin: 0;
}
