.new-expense {
  background-color: #945991;
  border: 1px solid transparent;
  border-radius: 16px;
  box-shadow: 0 1px 6px #b46593;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
